.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  min-height: 100vh;

  /* padding: 0 0.5rem; */
  gap: 1vh;
}

.board {
  display: flex;
  flex-wrap: wrap;
  background-color: rgb(77 214 81);
  height: 70vh;
  width: 70vh;
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12.5%;
  width: 12.5%;
  border: 1px solid rgb(0 0 0);
}

.inditate {
  height: 30%;
  width: 30%;
  background-color: rgb(226 255 58);
  border-radius: 50%;
  border: 1px solid rgb(0 0 0);
}

.stone {
  height: 97%;
  width: 97%;
  background-color: rgb(0 0 0);
  border-radius: 50%;
  border: 1px solid rgb(0 0 0);
}

.side-panel {
  display: grid;

  /* justify-content: center; */

  /* align-items: center; */
}

.turn {
  display: flex;
}

.score {
  display: flex;
  flex-wrap: wrap;
}

.button {
  width: 200px; /* ボタンの幅を調整 */
  height: 100px; /* ボタンの高さを調整 */
  font-size: 100%;
}
